// Specific CSS for your home-page

.body-container {
  margin: 0;
}
.header-container {
  margin: 0;
  padding: 30px;
  background-image: asset-url('logo.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    font-size: 4em;
  }

  p {
    color: white;
  }
}

.notice {
  margin: 0
}
.home-header {
  height: 100vh;
  background-size: cover;
}

.card-category-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-category {
  height: 398px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:hover {
    opacity: .8;
  }

  h5 {
    font-family: $headers-font;
    font-size: 3em;
  }
}

.categories-grid {
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 1rem;
}

.categories-grid:first-child {
  margin-top: 1.5rem;
}

.middle-category {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
  margin: 25px 10px;
  height: 50%;
}

.middle-card {
  width: 100vw;
  object-fit: cover;
  margin: auto 0;
}

.bottom-categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 498px);
  grid-template-rows: 1fr min-content;
  justify-content: center;
  grid-gap: 1rem;
}

.bottom-card-img {
  width: 100%;

  img {

  object-fit: cover;
}
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-headline {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
  padding: 180px 0 140px 0;
}

.fas.fa-chevron-circle-down {
  font-size: 1em;
}


