// Specific CSS for your home-page
.home-header {
  width: 100%;
  height: 70vh;

  img {
    object-fit: cover;
  }
}

.card-category-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-category {
  width: 500px;
  height: 400px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:hover {
    opacity: .8;
  }

  h5 {
    font-size: 2em;
  }
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
  grid-gap: 1rem;
}

.categories-grid:first-child {
  margin-top: 2rem;
}

.middle-category {
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  margin: 25px 10px;
  width: 100vw;
  height: 50%;
}

.middle-card {
  width: 100%;
  object-fit: cover;
  margin: auto 0;
}

.bottom-categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 700px);
  justify-content: center;
  grid-gap: 1rem;
}

.bottom-card-img {
  width: 100%;

  img {

  object-fit: cover;
}
}
