.item-info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  margin: 3rem 5rem 3rem 1rem;
  height: 100vh;
}

.navbar h6 {
  font-family: $headers-font;
}

.item-img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;

}

.item-info {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

#item-name {
  text-decoration: underline;
}



ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



// #item-price {
//   margin-right: 50px;
// }
