.item-info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  margin: 4.5rem 5rem 3rem 2rem;
}

.navbar h6 {
  font-family: $headers-font;
}

.item-img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;

}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

#item-name {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.submit-button {
  display: flex;
  justify-content: center;
}

.item-contents {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

