<div class="container">
<%= image_tag 'https://images.unsplash.com/photo-1490367532201-b9bc1dc483f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', class: 'home-header' %>

<% @clothing_items.each do |item| %>
  <li><%= item.category %></li>
<% end %>
</div>
