// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";

.navbar-secondary {
  margin-top: 56px;
  background: lightgray;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  font-family: sans-serif;
}

.secondary-header-item {
  color: #fff;
  background: black;
  line-height: 2;
  text-transform: uppercase;
  padding: .2em .5em;
  margin-right: 50px;
  p {
  margin: 0px 0px 0px;
  }
}

.price {
  margin-bottom: 15px;
}

.clothing-container {
  margin: 35px 10px;
}

.clothing-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  min-width: 100%;
}

.clothing-card-info {
  font-family: sans-serif;
  a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: sans-serif;
  }
}

.clothing-card {
    display: inline-block;
    text-align: center;
    background: #F4F4F4;
    font-size: .8em;
    bottom-padding: 10px;
    width: 100%;
    &:hover {
      background: lightgray
    }
}

.clothing-card img {
  justify-content: center;
  width: 100%;
  max-height: 206.55px;
  object-fit: cover;
  padding: 10px 10px 10px 10px;
}
